/* media query break points */
$tablet-break: 700px; //45rem;

body {
    margin: 0;
    padding: 0;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // min-width: 320px;
    // min-height: 100vh;
    background-color: var(--color-slate-900);
    color: var(--color-slate-100);
}

#root {
    width: 100%;
    max-width: 1400px;
}

// main {
//     display: flex;
//     flex-direction: column;
//     overflow: hidden;
//     padding-inline: 1rem;
// }

.start-game-card {
    input[type='radio'] {
        display: none;
    }
    label {
        background-color: var(--color-slate-400);
        //margin-inline: 0.5rem;
        padding: 0.25rem 1rem;
        border-radius: 1rem;
        color: white;
        text-align: center;
    }
    input[type="radio"]:checked + label {
        background-color: var(--color-slate-800);
    }
}

.tile {
    &.closed {
        background-color: var(--color-slate-700);
        transition: background-color 0.5s ease-in;
        span, i {
            opacity: 0;
            transition: opacity 0.5s ease-in;
        }
    }
    &.opened {
        background-color: var(--color-slate-400);
        //transition: background-color 1s ease-in;
        span, i {
            opacity: 1;
            //transition: opacity 1s ease-in;
        }
    }
    &.mismatched {
        background-color: var(--color-red-700);
        //transition: background-color 1s ease-in;
        span, i {
            opacity: 1;
            //transition: opacity 1s ease-in;
        }
    }
    &.matched {
        background-color: var(--color-orange-300);
        //transition: background-color 1s ease-in;
        span, i {
            opacity: 1;
            //transition: opacity 1s ease-in;
        }
    }
}

.game-board {
    //margin: 1rem;
    padding: 0.5rem;
    display: grid;
    gap: 1rem;
}

.gameModal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    color: black;
    font-size: 2rem;
}

.overlay {
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    background-color: rgba(50, 50, 50, 0.5);
}

